.questions {
  text-align: center;
}

.app {
  text-align: center;
}

.singleQuestion {
  margin-bottom: 20px;
  color: blue;
}

.categories {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.answerButtons {
  padding: 10px;
  margin: 10px;
  color: blue;
  font-size: 30px;
}