html {
  background-color:rgb(249, 234, 217)
}

.questions {
  text-align: center;
}

.app {
  text-align: center;
}

.single_question {
  /* margin-bottom: 5px; */
  color: blue;
}

.categories {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.answer_buttons {
  padding: 10px;
  margin: 5px;
  color: blue;
  font-size: 30px;
  border-radius: 10%;
}

.next_question_button {
  padding: 10px;
  margin: 5px;
  color: blue;
  font-size: 30px;
}

.end_game_button {
  padding: 10px;
  margin: 5px;
  color: blue;
  font-size: 30px;
}

.see_score_button {
  padding: 10px;
  margin: 5px;
  color: blue;
  font-size: 30px;
}

.gameover_page {
  text-align: center;
}

.loader {
  padding: 100px 0 0 500px;
}
